{% extends "base/base.html" %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/a_propos.css' %}">
{% endblock css %}

{% block title %}À Propos{% endblock title %}

{% block body %}
<div class="text">
    <p>
        PlayBox Store est une entreprise spécialisée dans la vente de jeux vidéo.
        Avec une large sélection de titres pour toutes les plateformes populaires,
        des classiques intemporels aux dernières sorties, PlayBox Store offre une
        expérience de shopping numérique immersive pour les passionnés de jeux.<br>
        <span class="icon"><box-icon size="cssSize" name='game'></box-icon><box-icon size="cssSize" name='dots-horizontal-rounded'></box-icon><box-icon size="cssSize" name='ghost' ></box-icon></span><br>
        Que ce soit pour les consoles de salon, les ordinateurs ou les appareils mobiles,
        les clients peuvent découvrir une gamme diversifiée de jeux, de genres et de DLC,
        accompagnée de promotions attractives et d'un service clientèle exceptionnel.<br>
        <span class="icon"><box-icon size='cssSize' name='joystick-alt'></box-icon></span><br>
        PlayBox Store s'efforce de créer une communauté dynamique autour du jeu vidéo,
        offrant non seulement des produits, mais aussi des conseils, des critiques et des
        événements spéciaux pour enrichir l'expérience de jeu de ses clients.
    </p>
</div>
{% endblock body %}