{% extends "base/base.html" %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/product.css' %}">
{% endblock css %}

{% block title %}Produit{% endblock title %}

{% block body %}
    <div class="content">
        <img src="{{product.picture.url}}">
        <div class="text">
            <h1>{{product.title}}</h1>
            <p class="description">
                {{product.description}}
            </p>
            <p class="console">
                Console : {{product.console}}
            </p>
            <p class="price">
                Prix : {{product.price}}
            </p>
            <form method="post" action="{% url 'add_to_cart-url' product.id %}">
                {% csrf_token %}
                <input type="submit" value="Ajouter au panier">
            </form>
        </div>
    </div>
{% endblock body %}
