{% extends "base/base.html" %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/success.css' %}">
{% endblock css %}

{% block title %}Thanks for your order!{% endblock title %}

{% block body %}
    <section>
        <p>
            Merci pour votre achat sur PlayBoxStore !<br>
            Votre soutien est précieux. <br>
            Profitez pleinement de vos articles.<br>
            Pour toute assistance, contactez-nous. <br>
            À bientôt ! L'équipe PlayBoxStore.<br>
            <box-icon size="cssSize" name='party'></box-icon>
            <a href="{% url "store-url" %}">Accueil</a>
        </p>
    </section>
{% endblock body %}