{% load static %}
<!DOCTYPE html>
<html lang='fr'>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>{% block title %}{% endblock title %}</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{% static 'css/base.css' %}">
        {% block css %}{% endblock css %}
        <script src="https://unpkg.com/boxicons@2.1.4/dist/boxicons.js"></script>
    </head>
    <body>
        <div class="image-first"></div>
        <header>
            <div class="header">
                <nav>
                    <ul>
                        <h1><a href="{% url "store-url" %}">PlayBox Store<box-icon size="cssSize" name='joystick' type='solid' ></box-icon></a></h1>
                        <div class="other">
                            <a href="{% url "catalogue-url" %}">
                                <span><box-icon name='book-alt'></box-icon></span>
                                <span>Catalogue</span>
                            </a>
                            <a href="{% url "panier-url" %}">
                                <span><box-icon name='basket'></box-icon></span>
                                <span>Panier</span>
                            </a>
                        </div>
                    </ul>
                </nav>
            </div>
        </header>
        {% block body %}{% endblock body %}
        <footer>
            <div>© 2024 PlayBox Store - Tout droits réservés</div>
            <div>
                <a href="{% url "contact-url" %}">Contact</a>
                <a href="{% url "a-propos-url" %}">À Propos</a>
            </div>
        </footer>
    </body>
</html>