@import url('https://fonts.googleapis.com/css2?family=Jura:wght@300..700&display=swap');
body {
    font-family: "Jura", sans-serif;
    margin: 0;
}

.image-first {
    display: flex;
    height: 100%;
    width: 100%;
    background-image: url("../image/images.jpg");
    opacity: 80%;
    background-size: cover;
    position: fixed;
    top: 0;
    z-index: -1;
  }

header {
    background-color: #6600CC;
    border-radius: 20px;
    width: 90%;
    position: relative;
    display: flex;
    margin: 2rem auto;
}

.header nav {
    padding: 10px 20px;
}

ul {
    display: flex;
    align-items: center;
}

h1 a {
    font-size: 2.5rem;
}

.other {
    display: flex;
    align-items: center;
    position: absolute;
    right: 5rem;
}

.other a {
    margin: 0 2rem;
}

a {
    display: flex;
    fill: white;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    font-size: 1.5rem;
    color: white;
}

footer {
    display: flex;
    gap: 0.75rem;
    justify-content: space-between;
    color: white;
    padding: 2rem;
    bottom: -15rem;
    background-color: #6600CC80;
}

footer div {
    display: flex;
}

footer a {
    margin: 0 1rem;
}