.filtering {
    background-color: #6600cc80;
    width: 90%;
    margin: 2rem auto;
    border-radius: 20px;
    padding: 1.5rem 0;
}

.promo {
    display: flex;
    position: relative;
    background-color: #6600CC80;
    border-radius: 20px;
    justify-content: space-around;
    width: 90%;
    margin: 0 auto;
    margin-top: 2rem;
    margin-bottom: 4.5rem;
    flex-wrap: wrap;
}

h1 {
    text-align: center;
    font-size: 1.5rem;
}

.promo span {
    position: absolute;
    top: 15px;
    left: 15px;
    color: #ffcc00;
    font-size: xx-large;
}

.card {
    display: flex;
    width: 20rem;
    flex-direction: column;
    align-items: center;
    margin: 1rem;
    padding: 1rem;
    border-radius: 20px;
    color: white;
    font-weight: 900;
}

.card img {
    width: 15rem;
    border-radius: 20px;
}

form {
    display: flex;
    justify-content: center;
}

input[type="text"],
select {
  padding: 12px 20px;
  margin: 2rem 1rem;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 20px;
  box-sizing: border-box;
  background: #6600CC;
  color: #fff;
}

input[type="text"]::placeholder{
    color: white;
}

button[type="submit"] {
    background-color: #6600CC;
    color: white;
    padding: 0 2rem;
    margin: 1.5rem 0;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: x-large;
}

.filter {
    display: flex;
    justify-content: center;
}

.remove {
    padding: 0.8rem;
    border-radius: 20px;
    background-color: #6600CC;
    width: fit-content;
}